h1{
    background-color: green;
}
body{
    display: block;
    max-width: 1000px;
    margin: auto;
}
.topbar{
    display: grid;
    grid-template-columns: 3fr 5fr 3fr; 
    column-gap: 1em;
    gap: 1em;
}
.topbar > div{
    background-color: blue;
    padding: 1em;
    text-align: center;
}
.topbar > a{
    background-color: blue;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    border: darkblue;
    border-width: 3px;
}
a:hover{
    background-color: mediumblue;
}

.main_body{
    display: grid;
    grid-template-columns: 5fr 3fr 2fr;    
}
.main_body >div{
    padding: 1em;
    word-wrap: break-word;
}
.link{
    
    display: block;
    border: 2px;
    fill: green;
}
#button_container{
    display: flex;
    justify-content: center;
    background-color: darkcyan;
}

#Name_Banner{

}